@{
    Layout = null;
}

@model WBK.Models.Create.PageQuestionModel


<div class="motivationQuestion questionDiv">
    <h3 style="float: left;">Vraag @(Model.QuestionId + 1)</h3>
    <div style="float: right;" class="dropleft show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenu_Page@(Model.PageId)_Question@(Model.QuestionId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            =
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a style="color: red;" href="" class="motivationQuestion removeQuestionClass">Vraag verwijderen</a>
        </div>
    </div>
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Title " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="Zou u meer willen bewegen en waarom?" />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Description " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Description" type="text" value="Zo niet mag u het veld leeg laten" />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Attribute " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Attribute" type="text" value="reasonToMove" hidden />

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
        <option value="0">GeoVraag</option>
        <option value="1">MeerkeuzeVraag</option>
        <option selected="selected" value="2">OpenVraag</option>
        <option value="3">SliderVraag</option>
        <option value="4">NummerVraag</option>
    </select>

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Category field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Category" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Category">
        <option selected="selected" value="0">Profiel</option>
        <option value="1">Locatie</option>
        <option value="2">Gezondheid</option>
    </select>
</div>
@{ Model.QuestionId++; }
<div class="motivationQuestion questionDiv">
    <h3 style="float: left;">Vraag @(Model.QuestionId + 1)</h3>
    <div style="float: right;" class="dropleft show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenu_Page@(Model.PageId)_Question@(Model.QuestionId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            =
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a style="color: red;" href="" class="motivationQuestion removeQuestionClass">Vraag verwijderen</a>
        </div>
    </div>
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Title " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="Ik ga/ zou gaan sporten/bewegen omdat:" />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Attribute " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Attribute" type="text" value="motivation" hidden />

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
        <option value="0">GeoVraag</option>
        <option selected="selected" value="1">MeerkeuzeVraag</option>
        <option value="2">OpenVraag</option>
        <option value="3">SliderVraag</option>
        <option value="4">NummerVraag</option>
    </select>

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Category field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Category" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Category">
        <option selected="selected" value="0">Profiel</option>
        <option value="1">Locatie</option>
        <option value="2">Gezondheid</option>
    </select>

    <div class=mcWrapper>
        <label>Laat meerdere antwoorden toe:</label>
        <input readonly="readonly" style="display: inline-block;" class="form-control" data-val="true" data-val-required="The AllowMultipleAnswers field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__MaximumNumberOfAnswers" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].MaximumNumberOfAnswers" type="number" min="1" max="10" value="1" />
        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_0__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[0].Answer" type="text" value="ik gewicht verlies of dat mijn lichaam mooier wordt." />
            <label for="OptionCounter" style="display: none;">0</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_1__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[1].Answer" type="text" value="ik met vrienden samen ben of nieuwe mensen leer kennen." />
            <label for="OptionCounter" style="display: none;">1</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_2__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[2].Answer" type="text" value="ik in een competitie kan spelen en de kick van de overwinning voel." />
            <label for="OptionCounter" style="display: none;">2</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_3__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="ik er geld aan verdien" />
            <label for="OptionCounter" style="display: none;">3</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_4__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="mijn gezondheid of conditie beter wordt" />
            <label for="OptionCounter" style="display: none;">4</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_5__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="omdat ik de hele dag zit en gewoon zin heb om te bewegen" />
            <label for="OptionCounter" style="display: none;">5</label>
        </div>
        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_6__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="ik dan minder spanning of stress voel" />
            <label for="OptionCounter" style="display: none;">6</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_7__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="ik er plezier aan beleef" />
            <label for="OptionCounter" style="display: none;">7</label>
        </div>

    </div>
</div>
@{ Model.QuestionId++; }
<div class="motivationQuestion questionDiv">
    <h3 style="float: left;">Vraag @(Model.QuestionId + 1)</h3>
    <div style="float: right;" class="dropleft show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenu_Page@(Model.PageId)_Question@(Model.QuestionId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            =
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a style="color: red;" href="" class="motivationQuestion removeQuestionClass">Vraag verwijderen</a>
        </div>
    </div>
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Title " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="Soms zou je wel willen sporten maar lukt het niet, omdat:" />
    <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Attribute " name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Attribute" type="text" value="reasonNot" hidden />

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
        <option value="0">GeoVraag</option>
        <option selected="selected" value="1">MeerkeuzeVraag</option>
        <option value="2">OpenVraag</option>
        <option value="3">SliderVraag</option>
        <option value="4">NummerVraag</option>
    </select>

    <select class="form-control" readonly="readonly" data-val="true" data-val-required="The Category field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Category" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Category">
        <option selected="selected" value="0">Profiel</option>
        <option value="1">Locatie</option>
        <option value="2">Gezondheid</option>
    </select>

    <div class=mcWrapper>
        <label>Laat meerdere antwoorden toe:</label>
        <input readonly="readonly" style="display: inline-block;" class="form-control" data-val="true" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__MaximumNumberOfAnswers" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].MaximumNumberOfAnswers" type="number" min="1" max="10" value="1" />
        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_0__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[0].Answer" type="text" value="ik geen tijd heb." />
            <label for="OptionCounter" style="display: none;">1</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_1__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[1].Answer" type="text" value="ik geen zin heb." />
            <label for="OptionCounter" style="display: none;">2</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_2__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[2].Answer" type="text" value="ik al genoeg sport en beweeg." />
            <label for="OptionCounter" style="display: none;">3</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_3__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[3].Answer" type="text" value="ik sporten niet leuk vindt." />
            <label for="OptionCounter" style="display: none;">4</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_4__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[4].Answer" type="text" value="ik mezelf niet mooi vind als ik aan het sporten ben. " />
            <label for="OptionCounter" style="display: none;">5</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_5__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[5].Answer" type="text" value="omdat ik fysiek zwaar werk doe." />
            <label for="OptionCounter" style="display: none;">6</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_6__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[6].Answer" type="text" value="ik soms te moe ben.  " />
            <label for="OptionCounter" style="display: none;">7</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_7__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[7].Answer" type="text" value="ik geen goede gezondheid heb. " />
            <label for="OptionCounter" style="display: none;">8</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_8__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[8].Answer" type="text" value="sporten teveel geld kost. " />
            <label for="OptionCounter" style="display: none;">9</label>
        </div>

        <div class="MCOption">
            <label>Antwoord:</label>
            <input class="form-control" readonly="readonly" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Options_9__Answer" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Options[9].Answer" type="text" value="het vaak slecht weer is. " />
            <label for="OptionCounter" style="display: none;">10</label>
        </div>


    </div>
</div>