@{
    Layout = null;
}

@model WBK.Models.Create.PageQuestionModel

<div class="pageDiv">

    <label style="display: none;" class="boolFirstGeoQuestion">true</label>

    <div>
        <h3 style="float: left;">Pagina @(Model.PageId + 1)</h3>

        <div style="float: right;" class="dropleft show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuPage@(Model.PageId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                =
            </a>
            <div id="dropdownMenu_Page@(Model.PageId)_Question@(Model.QuestionId)"  class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a href="" class="dropdown-item addProfileQuestionButton">Voeg Profiel Vragen Toe</a>
                <a href="" class="dropdown-item addNNGBQuestionButton">Voeg NNGB vragen Toe</a>
                <a href="" class="dropdown-item addMotivationQuestionButton">Voeg Motivatie vragen Toe</a>
                <div class="dropdown-divider"></div>
                <a style="color: red" href="" class="dropdown-item removeclass">Pagina verwijderen</a>
            </div>
        </div>

    </div>

    <input class="form-control" required id="PagesList_@(Model.PageId)__Title" name="PagesList[@(Model.PageId)].Title" type="text" value="" placeholder="Pagina Titel " />
    <input class="form-control" id="PagesList_@(Model.PageId)__ImageUrl" name="PagesList[@(Model.PageId)].ImageUrl" type="text" value="" placeholder="Pagina Foto URL " />
    <textarea class="form-control" id="PagesList_@(Model.PageId)__Description" name="PagesList[@(Model.PageId)].Description" type="text" value="" placeholder="Pagina Beschrijving" rows="5" cols="40"></textarea>

    <label for="PageCounter" style="display: none;">@(Model.PageId)</label>

    <div class="QuestionWrapper">

        <div class="questionDiv">
            <h3 style="float: left;">Vraag @(Model.QuestionId + 1)</h3>

            <div style="float: right;" class="dropleft show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuQuestion@(Model.QuestionId)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    =
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a style="color: red;" href="" class="removeQuestionClass">Vraag verwijderen</a>
                </div>
            </div>
            <input class="form-control" required id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Title" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Title" type="text" value="" placeholder="Vraag" />
            <input class="form-control" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__ImageUrl" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].ImageUrl" type="text" value="" placeholder="Vraag Foto URL" />
            <input class="form-control" id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Description" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Description" type="text" value="" placeholder="Vraag Beschrijving" />
            <select class="form-control" data-val="true" data-val-required="The Type field is required." id="PagesList_@(Model.PageId)__Questions_@(Model.QuestionId)__Type" name="PagesList[@(Model.PageId)].Questions[@(Model.QuestionId)].Type">
                <option value="0">GeoVraag</option>
                <option value="1">MeerkeuzeVraag</option>
                <option value="2">OpenVraag</option>
                <option value="3">SliderVraag</option>
                <option value="4">NummerVraag</option>
            </select>
            <label for="QuestionCounter" style="display: none;">@(Model.QuestionId)</label>
            
            <div class="question">

            </div>
        </div>

    </div>

    <div class="addQuestion">
        <a href="#" class="addQuestionButton btn btn-info">Voeg Vraag Toe</a><br><br>
    </div>

</div>