html, body {
    height: 100%;
}


.container {
    height: 100%;
}

.questionDiv {
    border-style: solid; 
    border-color: darkorange;
    border-width: 3px; 
    border-radius: 5px; 
    padding: 5px; 
    margin-top: 10px;
}

.pageDiv {
    margin-top: 10px;
    border-style: solid;
    border-color: orange;
    border-width: 3px;
    border-radius: 5px;
    padding: 15px;
}

.addQuestion {
    margin-top: 10px;
}

.multipleChoiceList {
    width: 30%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
}

.multipleChoiceElement {
    width: 180px;
}
